@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

#root {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.navigate-btn {
    @apply relative z-10 h-[2.6em] px-5 overflow-hidden rounded-md border-2 border-blue-600 text-[17px] leading-[2.5em] font-medium;
}

.gotu-regular {
    font-family: "Gotu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Markdown Revert */
.markdown>* {
    all: revert;
}

/* For tab */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.tab {
    padding: 15px;
    background-color: rgb(24, 26, 30);
    border: 1px rgba(255, 255, 255, .15) solid;
    box-shadow: 0px 3px 10px rgba(255, 255, 255, .1);
    /* border-bottom: 5px rgba(255,255,255,.1) solid; */
    color: rgba(255, 255, 255, 0.5);
    width: max-content;
    float: left;
    margin-left: 15px;
    position: relative;
    transition: box-shadow .5s ease 0s, top .5s ease 0s, border .5s ease 0s, color .5s ease 0s;
    top: 0;
}

.tab:first-child {
    margin-left: 0;
}

.tab:hover {
    cursor: pointer;
    box-shadow: 0px 6px 15px rgba(255, 255, 255, .5);
    top: -3px;
    border: 1px rgba(255, 255, 255, .3) solid;
    color: rgba(255, 255, 255, 0.8);
    /* border-bottom: 5px rgba(255,255,255,.3) solid; */
}

.tabs .active {
    /* border-bottom: 5px rgba(255, 33, 33, 1) solid; */
    box-shadow: 0px 6px 15px rgba(255, 30, 30, .5);
    border: 1px rgba(255, 30, 30, .4) solid;
    top: -3px;
    color: rgba(255, 50, 50, 1);
}

/* section {
    margin: 15px auto;
    width: 700px;
} */

.tabs menu ul {
    list-style: none;
}

.tabs menu+div {
    clear: both;
    margin-top: 15px;
    padding: 15px 0;
    color: white;
    line-height: 1.5;
    color: rgba(255, 255, 255, .6);
}

/*  */

/* @keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
} */

/* div,
img,
p,
form,
figure {
    animation: appear 0.6s ease-in-out forwards;
} */